In [279]:
import pandas    as pd
from   sklearn.linear_model    import LinearRegression
from   sklearn.metrics         import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

In [280]:
# import csv files
athletes = pd.read_csv("../data/athlete_events.csv")
nations =  pd.read_csv("../data/Host Cities.csv")
regions =  pd.read_csv("../data/noc_regions.csv")

In [281]:
# merge all csv
merge = athletes.merge(nations, left_on='City', right_on='City')
merge = merge.merge(regions, on='NOC')
merge.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country,region
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,Spain,China
1,6848,Bai Chongguang,M,21.0,184.0,83.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Boxing,Boxing Men's Light-Heavyweight,NaN,Spain,China
2,6854,Bai Mei,F,17.0,166.0,46.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Individual,NaN,Spain,China
3,11225,Bi Zhong,M,23.0,188.0,110.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Men's Hammer Throw,NaN,Spain,China
4,17295,Cai Yanshu,M,28.0,169.0,79.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Weightlifting,Weightlifting Men's Light-Heavyweight,NaN,Spain,China

In [282]:
merge['Summer']     = merge['Season'] == 'Summer'
merge['Gold']       = merge['Medal']  == 'Gold'
merge['Silver']     = merge['Medal']  == 'Silver'
merge['Bronze']     = merge['Medal']  == 'Bronze'
merge['Home Field'] = merge['Country']    == merge['region']
merge.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,...,Event,Medal,Country,region,Summer,Female,Gold,Silver,Bronze,Home Field
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,...,Basketball Men's Basketball,NaN,Spain,China,True,False,False,False,False,False
1,6848,Bai Chongguang,M,21.0,184.0,83.0,China,CHN,1992 Summer,1992,...,Boxing Men's Light-Heavyweight,NaN,Spain,China,True,False,False,False,False,False
2,6854,Bai Mei,F,17.0,166.0,46.0,China,CHN,1992 Summer,1992,...,Rhythmic Gymnastics Women's Individual,NaN,Spain,China,True,True,False,False,False,False
3,11225,Bi Zhong,M,23.0,188.0,110.0,China,CHN,1992 Summer,1992,...,Athletics Men's Hammer Throw,NaN,Spain,China,True,False,False,False,False,False
4,17295,Cai Yanshu,M,28.0,169.0,79.0,China,CHN,1992 Summer,1992,...,Weightlifting Men's Light-Heavyweight,NaN,Spain,China,True,False,False,False,False,False